Options -Indexes
RewriteEngine on
RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1 [L]
SetOutputFilter DEFLATE
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE application/json
</IfModule>

<IfModule mod_expires.c>
 ExpiresActive On
 # ExpiresByType application/json "access plus 8600 seconds"
</IfModule>

AuthName "Please authentify to the magproc app"
AuthType Basic
AuthUserFile C:\Users\user\AppData\Local\xampp\htdocs\.htpasswd
require valid-user
